.lead {
    margin-bottom: 70px;

    &__title {
        font-weight: 300;
        font-size: 32px;
        width: 427px;
    }

    &__subtitle {
        font-size: 12px;
        color: #4D4D4D;
        width: 328px;
    }

    &__image {
        width: 405px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (max-width: 391px) {
    .lead {
        margin-bottom: 40px;

        &__title {
            font-size: 24px;
            width: 300px;
        }

        &__image {
            width: 300px;
        }

        &__container {
            flex-wrap: wrap;
        }
    }
}

