.lead {
    margin-bottom: 70px;
    // background: url('/image/48 1.jpg');

    &__title {
        font-weight: 300;
        font-size: 32px;
        width: 427px;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 12px;
        color: #4D4D4D;
        width: 328px;
    }

    &__subtitle-1 {
        display: none;
    }

    &__image {
        background: url('../image/image 1.jpg');
        background-size: cover;
        width: 405px;
        height: 540px;
        transition: all 1s ease;
    }

    &__image:hover {
        background: url('../image/image 2.jpg');
        transition: all 1s ease;
        background-size: cover;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (max-width: 391px) {
    .lead {
        margin-bottom: 40px;

        &__title {
            font-size: 24px;
            width: 300px;
            text-align: center;
            margin-bottom: 20px;
        }

        &__image {
            width: 300px;
            height: 400px;
        }

        &__container {
            display: block;
        }

        &__subtitle {
            display: none;
        }

        &__subtitle-1 {
            display: block;
            width: 300px;
        }
    }
}

@media all and (max-width: 415px) {
    .lead {
        margin-bottom: 40px;

        &__title {
            font-size: 24px;
            width: 350px;
            text-align: center;
            margin-bottom: 20px;
        }

        &__image {
            width: 350px;
            height: 400px;
        }

        &__container {
            display: block;
        }

        &__subtitle {
            display: none;
        }

        &__subtitle-1 {
            display: block;
            width: 350px;
        }
    }
}