.moment {
    width: 941px;
    margin: 0 auto 70px;

    &__title {
        padding-top: 50px;
        font-size: 24px;
        text-align: center;
    }

    &__subtitle {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 16px;
        width: 793px;
        margin: 10px auto 25px;
    }

    &__container {
        border-top: 1px solid #BEBEBE;
        border-bottom: 1px solid #BEBEBE;
        padding: 10px 0;
        width: 410px;
        margin: 0 auto;
    }

    &__phrase {
        color: #4D4D4D;
        font-weight: 300;
        font-size: 14px;
    }

    &__text {
        text-align: center;
        margin: 25px auto;
        width: 809px;
    }

    &__date {
        color: #BFBFBF;
        font-size: 14px;
        width: 114px;
        border: 1px solid #D9D9D9;
        border-radius: 15px;
        padding: 1px 12px;
        margin: 0 auto 10px;
        text-align: center;
    }

    &__phrase-right {
        text-align: right;
    }

    &__phrase-184 {
        width: 184px;
    }

    
    &__svg-1 {
        position: absolute;
        left: 27%;
        margin-top: 55px;
        transition: all 1s ease;
    }
    
    &__svg-1:hover {
        margin-top: 0;
        transition: all 1s ease;
    }

    &__svg-2 {
        position: absolute;
        right: 25%;
        margin-top: -200px;
        transition: all 1s ease;
    }

    &__svg-2:hover {
        margin-top: -270px;
        transition: all 1s ease;
    }

    &__svg-3 {
        position: absolute;
        left: 27%;
        margin-top: -140px;
        transition: all 1s ease;
    }

    &__svg-3:hover {
        margin-top: -200px;
        transition: all 1s ease;
    }

    &__svg-4 {
        position: absolute;
        right: 30%;
        margin-top: -100px;
        transition: all 1s ease;
    }

    &__svg-4:hover {
        margin-top: -150px;
        transition: all 1s ease;
    }

    &__star {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
    }
}

@media all and (max-width: 391px) {
    .moment {
        width: 300px;
        margin-bottom: 40px;

        &__subtitle {
            width: 300px;
            margin: 8px auto 20px;
        }

        &__svg-1 {
            display: none;
        }

        &__svg-2 {
            display: none;
        }

        &__svg-3 {
            display: none;
        }

        &__svg-4 {
            display: none;
        }

        &__container {
            padding: 8px 0;
            width: 300px;
        }

        &__text {
            margin: 20px auto;
            width: 300px;
        }

        &__title {
            padding-top: 20px;
            font-size: 20px;
        }
        
        &__phrase {
            font-size: 12px;
        }

        &__date {
            width: 104px;
            font-size: 12px;
            margin: 0 auto 8px;
        }
    }
}

@media all and (max-width: 415px) {
    .moment {
        width: 350px;
        margin-bottom: 40px;

        &__subtitle {
            width: 350px;
            margin: 8px auto 20px;
        }

        &__svg-1 {
            display: none;
        }

        &__svg-2 {
            display: none;
        }

        &__svg-3 {
            display: none;
        }

        &__svg-4 {
            display: none;
        }

        &__container {
            padding: 8px 0;
            width: 350px;
        }

        &__text {
            margin: 20px auto;
            width: 350px;
        }

        &__title {
            padding-top: 20px;
            font-size: 20px;
        }
        
        &__phrase {
            font-size: 12px;
        }

        &__date {
            width: 104px;
            font-size: 12px;
            margin: 0 auto 8px;
        }
    }
}